<div class="row mt-2 mx-0">

    <div class="col-sm-3">
        <div class="border border-1 rounded-2 bg-light p-2">
            <img src="/img/semfoto.png" class="w-50 mx-auto rounded-circle d-flex align-content-center">

            <h4 class="text-center mt-3">{{usuario.funcionario.nome}}</h4>
            <h5 class="text-center mt-2">E-MAIL: {{usuario.email}}</h5>
            <h5 class="text-center mt-2">CATEGORIA: {{categoriaUsuario usuario.categoria}}</h5>

        </div>

    </div>

</div>