<div class="col-md-5 shadow p-2 mx-auto">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand">Cadastro de Série</span>


            <div class="navbar-nav">
                <a class="btn btn-sm btn-secondary mx-1" href="/serie/{{matriz.id}}">Voltar</a>
            </div>

        </div>
    </nav>

    <form action="/serie/salvar" method="post">
        <div class="row mb-3">
            <div class="col-sm">
                <input type="text" name="matriz_id" value="{{matriz.id}}" hidden="hidden">
                <label>MATRIZ</label>
                <input type="text" class="form-control" disabled value="{{matriz.descricao}}">
            </div>
        </div>

        <div class="row">

            <div class="col-sm-9">
                <label>DESCRIÇÃO</label>
                <input type="text" class="form-control" name="descricao" required>
            </div>

            <div class="col-sm-3">
                <label>SEQUÊNCIA</label>
                <input type="number" class="form-control" name="sequencia" required>
            </div>

        </div>
        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </form>
</div>