<div class="col-md-2 shadow p-2 mt-3 mx-auto">

    <img src="/img/login.png" class="w-25 d-block mx-auto">

    <h4 class="text-center text-success my-4">Acesso ao Sistema</h4>
    <form action="/usuario/login" method="post">
        <label for="">USUÁRIO</label>
        <input type="text" class="form-control mb-3" name="username" required>

        <label for="">SENHA</label>
        <input type="password" class="form-control mb-3" name="password" required>

        <button class="w-100 btn btn-success">ENTRAR</button>

        <div class="d-flex justify-content-center mt-3">
            <a class="">Esqueceu a Senha?</a>
        </div>

    </form>
</div>